@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500&family=Oswald:wght@300&display=swap');
body{

    background: rgb(12, 10, 27);

    background-image: 
    url(../images/AdobeStock_447027159_edited.jpg),
    linear-gradient(180deg,rgba(32, 12, 76, 0.579), rgba(134, 32, 71, 0.633));
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-dodge;
    
    
   
    
    
}


.navbar-custom {
    /* background-image: url(../images/02-hero-bg.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    background-color: rgb(12, 10, 27);
    border-bottom: 0.1em solid #8c86a3;
}

.navbar-brand{

    color:rgb(219, 219, 219);
    font-family: 'Montserrat', sans-serif;
    
}

.navbar-brand:hover{

    color:#ac7ac0;
}

.nav-link{

    color:#8c86a3;
}

.nav-link:hover{

    color:rgb(219, 219, 219);
}

.bg-light-custom{
    background: 
    /* linear-gradient(180deg,#1c142b7e, rgba(12, 10, 27, 0.7)), */
    url(../images/AdobeStock_520024194_edited.jpg),
    linear-gradient(180deg,rgba(75, 25, 108, 0.681), rgba(24, 19, 59, 0.336));
    background-size: cover;
    background-blend-mode:luminosity;
    color:white;
    margin-top: 57.6px;
    
}

.bg-light-contactMe{
    background: 
    linear-gradient(180deg,#1c142b7e, rgba(12, 10, 27, 0.7)),
    url(../images/AdobeStock_520024194_edited.jpg),
    linear-gradient(90deg, #1c142b, rgba(12, 10, 27, 0.5));
    background-size: cover;
    background-blend-mode:luminosity;
    color:white;
    margin-top: 57.6px;
    
}


.avatar > img {

    max-width: 70%;
    border-radius: 50%;
    border-bottom: 0.2em #8c86a3 solid;
    z-index: 5;

}

.avatar{

    position: relative;
    top: -20px;
   
}



.bg-light-custom2{

    background: #4f3b56c7;
    background-image: 
    linear-gradient(180deg, rgba(48, 38, 108, 0.304), rgba(24, 12, 41, 0.974)),
    url(../images/AdobeStock_276899893_edited.jpg); 
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px 10px rgb(18, 10, 70) inset;
    color:white
}

.bg-quote{

    background-color: #1c142b8e;

}

.bg-quote> p{

    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.col-border{

    border-right: #8c86a3 0.2em solid;
}

.pb-2{

    color:rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: italic;
    
}


h2 {
    
    text-transform: capitalize;
    color: white;
    font-size: 50px;
  }

h2::after {

    content: attr(data-text);
    display: flex;
    justify-content: center;
    /*  Rotates around x-axis */
    transform: rotateX(180deg);
    line-height: 0.85em;
    /* linear-gradient defined by up,down,left ,right ,diagonal */
    background-image: linear-gradient(0deg, #ffffff 0, transparent 95%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;         
    opacity: 0.2;
}

h3::after{

    content: attr(data-text);
    display: flex;
    justify-content:left;
    /*  Rotates around x-axis */
    transform: rotateX(180deg);
    line-height: 0.85em;
    /* linear-gradient defined by up,down,left ,right ,diagonal */
    background-image: linear-gradient(0deg, #ffffff 0, transparent 95%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;         
    opacity: 0.2;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card{

    width:auto;
}

.col-work{

    border-bottom: #8c86a3 0.2em solid;
}

.card-body{
    background: rgb(12, 10, 27);
    background-image: url(../images/AdobeStock_520024194_edited.jpg);
    background-size: cover;
    background-blend-mode: color-dodge;
}

footer{

    background-color: rgb(12, 10, 27);
    border-top: 0.1em solid #8c86a3;
}

.copyright{

    color: #ffffff;
    

}

.contactForm{

    border-top: 0.1em solid #8c86a3;
}

/* Override Primary button color to Match theme. */

.btn-primary{

    --bs-btn-color: #fff;
    --bs-btn-bg: #145d7c;
    --bs-btn-border-color: #c8c1c8;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;

}

@media screen and (max-width:768px) {

    .col-border{
        border-right: none;
        border-bottom: #8c86a3 0.2em solid;
    }
    
    
}